<% extend("./main") %>
<script type="text/javascript" src="js/pvhau/personal.js"></script>
<!-- <script type="text/javascript" src="js/pvhau/groupTeacher.js"></script> -->
<script type="text/javascript" src="js/pvhau/admin/admin.js"></script>
<script></script>
<link href="css/personal.css" rel="stylesheet" type="text/css" />
<main>
   <div id="profile-upper">
      <div id="profile-banner-image">
         <img src="images/<%= user.coverAvatar %>" alt="Banner image">
      </div>
      <div id="profile-d">
         <div id="u-name">Quản lý thành viên</div>
         <div class="tb" id="m-btns">
            <div class="td">
               <div class="m-btn"><i class="material-icons">format_list_bulleted</i><span>Activity log</span></div>
            </div>
            <div class="td">
               <div class="m-btn"><i class="material-icons">lock</i><span>Privacy</span></div>
            </div>
         </div>
         <div id="edit-profile"><i class="material-icons">camera_alt</i></div>
      </div>
      <div id="black-grd"></div>
   </div>
   <div id="main-content">
   <div class="tb">
      <div class="td" id="m-col">
         <div class="m-mrg" id="p-tabs">
            <div class="tb">
               <div class="td">
                  <div class="tb" id="p-tabs-m">
                     <div class="td active"><i class="material-icons">people</i><span>Thành viên</span></div>
                  </div>
               </div>
               <div class="td" id="p-tab-m"><i class="material-icons">keyboard_arrow_down</i></div>
            </div>
         </div>
         <div class="m-mrg" id="composer">
            <div id="c-tabs-cvr" style="margin-bottom: 10px;">
               <div class="tb" id="c-tabs">
                  <a href="/member"><div class="td friend active friend-all"><i class="material-icons fa-all">subject</i><span>Danh sách thành viên</span></div></a>
                  <div class="td friend friend-request"><i class="fas fa-list-ul"></i><span>Yêu cầu tham gia</span></div>
                  <!-- <div class="td friend friend-suggest"><i class="fas fa-user-plus"></i><span>Gợi ý mời tham gia</span></div> -->
               </div>
            </div>
         </div>
         <div class="m-mrg" id="composer">
            <div id="c-tabs-cvr" style="margin-bottom: 10px;">
               <div class="tb form" id="c-tabs" style="display: inline-flex;">
                    <div class="form-group" style="margin-right: 10px;">
                    <label for="year" style="font-weight: bold;">Khóa</label>
                    <select class="form-control" name="year" id="year">
                     <option value="65" selected>65</option>
                     <option value="64">64</option>
                     <option value="63">63</option>
                     <option value="62">62</option>
                     <option value="61">61</option>
                     <option value="60">60</option>
                     <option value="59">59</option>
                     <option value="58">58</option>
                     <option value="57">57</option>
                     <option value="56">56</option>
                     <option value="55">55</option>
                     <option value="54">54</option>
                     <option value="53">53</option>
                     <option value="52">52</option>
                     <option value="51">51</option>
                     <option value="50">50</option>
                   </select>
                    </div>
                    <div class="form-group" style="margin-right: 50px;">
                       <label for="major" style="font-weight: bold;">Chọn viện</label>
                       <select class="form-control" name="major" id="major">
                        <option value="CNTT" selected>Công nghệ thông tin và truyền thông</option>
                        <option value="">Điện</option>
                        <option value="">Kỹ thuật hóa học</option>
                        <option value="">Cơ khí</option>
                        <option value="">Điện tử - viễn thông</option>
                        <option value="">Kinh tế - quản lý</option>
                        <option value="">Ngoại ngữ</option>
                        <option value="">Sư phạm kỹ thuật</option>
                        <option value="">Toán ứng dụng và tin học</option>
                        <option value="">Cơ khí động lực</option>
                        <option value="">Khoa học và công nghệ môi trường</option>
                      </select>
                   </div>
                    <div class="form-group" style="margin-right: 50px;">
                        <label for="group" name="group" style="font-weight: bold;">Chọn lớp</label>
                        <select class="form-control" id="group">
                         <option value="KHMT-01" selected>KHMT-01</option>
                         <option value="KHMT-02">KHMT-02</option>
                         <option value="KHMT-03">KHMT-03</option>
                         <option value="KHMT-04">KHMT-04</option>
                         <option value="KHMT-05">KHMT-05</option>
                       </select>
                    </div>
                    <div class="form-group">
                        <label for="">. </label>
                        <button type="submit" class="form-control btn btn-danger submit">Tìm</button>
                    </div>
               </div>
            </div>
         </div>
         <div style="background-color: aliceblue;" class="friend-tab list-friend">
            <div class="chat_list">

            </div>
         </div>
         <div style="background-color: aliceblue; display: none;" class="friend-tab list-friend-request">
            <div class="chat_list">
            </div>
         </div>
         <div style="background-color: aliceblue; display: none;" class="friend-tab list-friend-suggest">
            <div class="chat_list">

            </div>
         </div>


          <!-- Modal1 -->
          <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal1Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModal1Label">Xác nhận xóa khỏi nhóm</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!-- <div class="modal-body">
                  ...
                </div> -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-success cancel-friend" data-dismiss="modal">Có</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Không</button>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Modal2 -->
          <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModal2Label">Xác nhận từ chối lời mời</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!-- <div class="modal-body">
                  ...
                </div> -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-success refuse-accept-friend" id="cancel-request" data-dismiss="modal">Có</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Không</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal3 -->
          <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModal3Label">Xác nhận xóa đề nghị kết bạn</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!-- <div class="modal-body">
                  ...
                </div> -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-success refuse-suggest-friend" id="cancel-request" data-dismiss="modal">Có</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Không</button>
                </div>
              </div>
            </div>
          </div>

      </div>
   </div>
</main>