<% extend("./../main/main") %>
<script type="text/javascript" src="js/pvhau/personal.js"></script>
<script type="text/javascript" src="js/pvhau/personalGeneral.js"></script>

<link href="css/personal.css" rel="stylesheet" type="text/css" />
<main>
    <button class="btn btn-warning" style="margin-left: 299px;">Vui lòng đợi giáo viên phê duyệt</button>
</main>