<% extend("./../main/main") %>
    <div class="mainbar">

      <div class="article">
        <h2><span>Thông tin</span> cá nhân</h2>
        <div class="clr"></div>
        <form action="#" method="post" id="sendemail">
          <ol>
            <li>
              <label for="name">Họ và tên</label>
              <input id="name" name="name" class="text" value="<%= user.username %>"/>
            </li>
            <li>
              <label for="email">Địa chỉ email</label>
              <input id="email" name="email" class="text" value="<%= user.email %>"/>
            </li>
            <li>
              <label for="website">Địa chỉ lớp</label>
              <input id="website" name="website" class="text" value="<%= user.email %>"/>
            </li>
            <li>
              <label for="message">Mô tả</label>
              <textarea id="message" name="message" rows="8" cols="50"></textarea>
            </li>
            <li>
              <input type="image" name="imageField" id="imageField" src="images/submit.gif" class="send" />
              <div class="clr"></div>
            </li>
          </ol>
        </form>
      </div>
    </div>
        <div class="sidebar">
                     <div class="gadget">
                        <h2 class="star"><span></span> Menu</h2>
                        <div class="clr"></div>
                        <ul class="sb_menu">
                           <li class="tab-home"><a href="./">Trang chủ</a></li>
                           <li class="tab-group-class"><a href="./group-class">Nhóm lớp</a></li>
                           <li class="tab-chat"><a href="./chat">Nói chuyện</a></li>
                           <li class="tab-notification"><a href="./notification">Thống báo</a></li>
                           <li class="tab-profile"><a href="./profile">Thông tin cá nhân</a></li>
                        </ul>
                     </div>
                     <div class="gadget">
                        <h2 class="star"><span>Thông tin nổi bật</span></h2>
                        <div class="clr"></div>
                        <ul class="ex_menu">
                           <li><a href="#">Tuyển sinh năm 2021</a></li>
                           <li><a href="#">Điểm rèn luyện kỳ học 20201</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="clr"></div>



