<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/signup.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
    <div class="login-wrap">
	<div class="login-html">
		<div style="margin-bottom: 10px;">
			<% if(errors != "") { %>
				<% errors.forEach((item) => { %>
					<div class="alert alert-danger">
						<div class="container">
							<%- item %>
					   </div>
				   </div>
				<% }); %>
			<% } %>
			<% if(success != "") { %>
				<% success.forEach((item) => { %>
					<div class="alert alert-success">
						<div class="container">
							<%- item %>
						</div>
					</div>
				<% }); %>
			<% } %>
			
			
		</div>
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign Up</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">
			<div class="sign-in-htm">
				<form action="/register" method="POST">
				<div class="group">
					<label for="email-register" class="label">Email</label>
					<input id="email-register" name="email-register" type="text" class="input">
				</div>
				<div class="group">
					<label for="pwd-register" class="label">Password</label>
					<input id="pwd-register" name="pwd-register" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<label for="pwd-confimation-register" class="label">Repeat Password</label>
					<input id="pwd-confimation-register" name="pwd-confimation-register" type="password" class="input" data-type="password">
				</div>
				<div class="group" style="margin-right: 10px;">
					<label for="year" style="font-weight: bold;">Chọn khóa</label>
					<select class="form-control" name="year" id="year">
					 <option value="65" selected>65</option>
					 <option value="64">64</option>
					 <option value="63">63</option>
					 <option value="62">62</option>
					 <option value="61">61</option>
					 <option value="60">60</option>
					 <option value="59">59</option>
					 <option value="58">58</option>
					 <option value="57">57</option>
					 <option value="56">56</option>
					 <option value="55">55</option>
					 <option value="54">54</option>
					 <option value="53">53</option>
					 <option value="52">52</option>
					 <option value="51">51</option>
					 <option value="50">50</option>
				   </select>
				</div>
				<div class="group" style="margin-right: 10px;">
				   <label for="major" style="font-weight: bold;">Chọn viện</label>
					   <select class="form-control" name="major" id="major">
						<option value="CNTT" selected>Công nghệ thông tin và truyền thông</option>
						<option value="">Điện</option>
						<option value="">Kỹ thuật hóa học</option>
						<option value="">Cơ khí</option>
						<option value="">Điện tử - viễn thông</option>
						<option value="">Kinh tế - quản lý</option>
						<option value="">Ngoại ngữ</option>
						<option value="">Sư phạm kỹ thuật</option>
						<option value="">Toán ứng dụng và tin học</option>
						<option value="">Cơ khí động lực</option>
						<option value="">Khoa học và công nghệ môi trường</option>
					  </select>
				</div>
				<div class="group" style="margin-right: 10px;">
					<label for="group" name="group" style="font-weight: bold;">Chọn lớp</label>
					<select class="form-control" id="group" name="group">
						<option value="KHMT-01" selected>KHMT-01</option>
						<option value="KHMT-02">KHMT-02</option>
						<option value="KHMT-03">KHMT-03</option>
						<option value="KHMT-04">KHMT-04</option>
						<option value="KHMT-05">KHMT-05</option>
					</select>
				</div>
				<div class="group">
					<input type="radio" id="student" name="role" value="student" checked>
					<label for="student">Học sinh</label><br>
					<input type="radio" id="teacher" name="role" value="teacher">
					<label for="teacher">Giảng viên</label>
				</div>
				<div class="group">
					<a href="verify2FA"><input type="submit" class="button" value="Đăng ký"></a>
				</div>
				<div class="foot-lnk">
					<a href="./login">Đăng nhập ngay?</a>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>

