<% extend("./../main/main") %>
<script type="text/javascript" src="js/pvhau/personal.js"></script>
<script type="text/javascript" src="js/pvhau/personalGeneral.js"></script>
<script type="text/javascript" src="js/pvhau/admin/resend-request.js"></script>

<link href="css/personal.css" rel="stylesheet" type="text/css" />
<main>
    <button class="btn btn-warning" style="margin: 10px 0px 10px 359px">Vui lòng đợi Admin phê duyệt</button>
    <button class="btn btn-primary resend-request" style="margin: 10px 0px 10px 409px;"><p style="display: none;"><%= user.id %></p> Gửi lại yêu cầu</button>
</main>