<% extend("./../main/main") %>
<div class="hbg"><img src="images/header_images.jpg" width="923" height="291" alt="" /></div>
<div class="container mt-5">
        <div class="title">
          <h3>Notifications</h3>
        </div>
    </div>
    <div class="noti-content">
    <div class="alert alert-info">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">info_outline</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>

            You've got some friends nearby, stop looking at your phone and find them...
        </div>
    </div>
    </div>

    
    
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>